<form id="form-tipo-evento-edita" 
      action="{{ path('rep_site_tipos_evento_cadastra', {'id_tipo_evento': tipoEvento.id}) }}" 
      method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
{#        <input type="submit" class="hide" id="btn-submit" value="Cadastrar" />#}
    </p>
</form>
<script type="text/javascript">
    {#$('#form-parada').submit(function(){
        $(this).ajaxSubmit(function(data){
            console.log(data);
            $(".caixaForm").dialog('close');
            return false;
        });
        return false;
    });#}
    
    $('#form-tipo-evento-edita #tipo_evento_cor').ColorPicker({
        color: '#000000',
        onSubmit: function(hsb, hex, rgb, el) {
            $('#tipo_evento_cor').val('#'+hex);
            $(el).ColorPickerHide();
        },
        onChange: function(hsb, hex, rgb, el) {
            $('#tipo_evento_cor').val('#'+hex);
        },
        onBeforeShow: function () {
            $(this).ColorPickerSetColor(this.value);
        }
    })
    .bind('keyup', function(){
        $(this).ColorPickerSetColor(this.value);
    });
    
    $('#btn-editar').click(function(){
        $('#form-tipo-evento-edita').submit();
    });
</script>