{% extends "::base.html.twig" %}
{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Estilos Musicais</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="form-artista" id="form-estilo" method="POST" 
                      action="{{ path('rep_site_estilos_cadastra', {'id_estilo': -1}) }}">
                    {{ form_widget(formEstilo) }}
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Estilos Cadastrados</h3>
                {% include 'RepSiteBundle:Estilo:tabela-cadastrados.html.twig' 
                          with {'estilos': estilos} %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-edicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titulo-modal">Editar Estilo Musical</h4>
                </div>
                <div class="modal-body" id="body-edicao">

                </div>
                <div class="modal-footer">
                    <p class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $('.link-editar').click(function () {

            $id = $(this).attr('href').replace('#', '');

            $url = '{{ path('rep_site_estilos_form') }}' + "/" + $id;

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#body-edicao').html(response);
                    $('#modal-edicao').modal('show');
                }
            });

            return false;

        });
    </script>
{% endblock %}