{% extends "::base.html.twig" %}
{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form name="form-musica" id="form-musica" method="POST" 
                      action="{{ path('rep_site_musicas_cadastra', {'id_musica': -1}) }}">
                    {{ form_widget(formMusica) }}
                    <input type="submit" value="Cadastrar" class="btn btn-brand-accent" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">M&uacute;sicas Cadastradas</h3>
                {% include 'RepSiteBundle:Musica:tabela-cadastrados.html.twig' 
                          with {'musicas': musicas} %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-edicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-heading">
                    <a class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">Editar M&uacute;sica</h4>
                </div>
                <div class="modal-inner" id="body-edicao">

                </div>
                <div class="modal-footer">
                    <p class="text-right">
                        <button type="button" class="btn btn-brand" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-brand-accent" id="btn-editar">Salvar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $('.link-editar').click(function () {

            $idMusica = $(this).attr('href').replace('#', '');

            $url = '{{ path('rep_site_musicas_form') }}' + "/" + $idMusica;

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#body-modal').html(response);
                    $('#titulo-modal').html("Editar Música");
                    $('#modal').modal('show');
                }
            });

            return false;

        });
    </script>
{% endblock %}