{% extends "::base.html.twig" %}
{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Projetos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <form name="form-projeto" id="form-projeto" method="POST" 
                      action="{{ path('rep_site_projetos_cadastra', {'id_projeto': -1}) }}">
                    {{ form_widget(formProjeto) }}
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h3 class="text-center">Projetos Cadastrados</h3>
                {% include 'RepSiteBundle:Projeto:tabela-cadastrados.html.twig' 
                          with {'projetos': projetos} %}
            </div>
        </div>
    </div>
    {#<div class="modal fade" id="modal-edicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-heading">
                    <a class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">Editar Projeto</h4>
                </div>
                <div class="modal-inner" id="body-edicao">

                </div>
                <div class="modal-footer">
                    <p class="text-right">
                        <button type="button" class="btn btn-brand" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-brand-accent" id="btn-editar">Salvar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        
        $('.link-editar').click(function () {

            $id = $(this).attr('href').replace('#', '');

            $url = '{{ path('rep_site_projetos_form') }}' + "/" + $id;

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#body-modal').html(response);
                    $('#titulo-modal').html("Editar Projeto");
                    $('#modal').modal('show');
                }
            });

            return false;

        });
    </script>
{% endblock %}