{#<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <td>Artista</td>
            <td>M&uacute;sicas</td>
            <td>A&ccedil;&otilde;es</td>
        </tr>
    </thead>
    <tbody>
        {% for art in artistas %}
            <tr>
                <td>{{ art.artista.nome }}</td>
                <td>{{ art.musicas }}</td>
                <td><a href="#{{ art.artista.id }}" class="link-ver-musicas">Ver</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>#}
<canvas id="myChart2" width="400" height="400"></canvas>