<table id="tabela-cadastradas-evento" class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Cont.</td>
            <td>M&uacute;sica</td>
            <td>Artista</td>
            <td>A&ccedil;&otilde;es</td>
        </tr>
    </thead>
    <tbody>
    {% for musica in musicas %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ musica.nome }}</td>
            <td>{{ musica.artista.nome }}</td>
            <td><a href="#{{ musica.id }}" class="link-remover-musica">Remover</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>